

body {
    background-color: #e7b0cc;
    cursor: initial;
    
}
.btn{
    background: #ee9cb5;
    color: white;
	left: 50%;
}

#cases-container {
    border: 1px solid black;
    background-color :#edddf6;
    width: auto;
    height: auto;
    text-align: center;
    margin: 50px 50px 50px 50px;
   
}

#category-container {
    border: 1px solid black;
    background-color :#edddf6;
    justify-content: center;
    width: auto;
    height: auto;
    text-align: center;
    margin: 50px 50px 50px 50px;
   
}

#case-form {
    border: 1px solid black;
    background-color :#edddf6;
    width: auto;
    height: auto;
    text-align: center;
    margin: 50px 50px 50px 50px; 
}

li{
    list-style-type: none;
}