

body {
    background-color: #b34180;
    cursor: initial;
    
}
.btn{
    background: #e36bae;
    color: white;
	
}


#cases-container {
    border: 1px solid black;
    background-color :#f8a1d1;
    width: auto;
    height: auto;
    text-align: center;
    margin: 50px 50px 50px 50px;
   
}

#category-container {
    border: 1px solid black;
    background-color :#f8a1d1;
    justify-content: center;
    width: auto;
    height: auto;
    text-align: center;
    margin: 50px 50px 50px 50px;
   
}

#case-form {
    border: 1px solid black;
    background-color :#f8a1d1;
    width: auto;
    height: auto;
    text-align: center;
    margin: 50px 50px 50px 50px; 
}

li{
    list-style-type: none;
}