

body {
    background-color: #b34180;
    cursor: initial;
    
}
.btn{
    background: #e36bae;
    color: white;
    font-size: 150%;
    color: rgb(240, 240, 240);
    width: 33%;
	
}
.modal-button{
    background: #822659;
    color: white;
    font-size: 100%;
    color: rgb(240, 240, 240);
    width: 33%;
	
}



.modal-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    /* display:none; */
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.bg-active {
    visibility: visible;
    opacity:1; 
}

.modal-close{
    position: relative;
    color: red;
    height: auto;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor:pointer;

}

.modal {
    font-family: 'Monrserrat', sans-serif;
    background-color: white;
    width: 30%;
    height: auto;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}



#cases-container {
    border: 1px solid black;
    background-color :#f8a1d1;
    width: auto;
    height: auto;
    text-align: center;
    font-family: 'Monrserrat', sans-serif;
    margin: 50px 50px 50px 50px;
    
   
}

#category-container {
    border: 1px solid black;
    background-color :#f8a1d1;
    justify-content: center;
    width: auto;
    height: auto;
    text-align: center;
    font-family: 'Monrserrat', sans-serif;
    margin: 50px 50px 50px 50px;
   
}

#case-form {
    border: 1px solid black;
    background-color :#f8a1d1;
    width: auto;
    height: auto;
    text-align: center;
    font-family: 'Monrserrat', sans-serif;
    margin: 50px 50px 50px 50px; 
}

li{
    list-style-type: none;
}